@import "tailwindcss";
@import "tw-animate-css";


@theme inline {
  --color-primary:var(--primary);
  --color-secondary:var(--secondary);
  --color-success:var(--success);
  --color-desctructive:var(--desctructive);
  --color-text-primary:var(--text-primary);
  --color-text-secondary:var(--text-secondary);
}

:root {
  --primary:#5178ff;
  --secondary:#5178ff;
  --text-primary:#ffffff;
  --text-secondary: lab(66.128% -.0000298023 .0000119209);;
  --success:#5178ff;
  --desctructive:#da2020;
}

/* ========================|| Button Ripple Animation ||======================== */

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

/* ========================|| My Custom Animations ||======================== */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.4s ease-out;
}

/* ========================|| Custom Thin Scrollbar Variant ||======================== */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--custom-scrollbar);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--custom-scrollbar-2);
}

.scrollbar-h-3::-webkit-scrollbar {
  height: 3px;
}